@mixin height-100 {
	height: 100vh;
	height: -moz-available;
	height: -webkit-fill-available;
	height: fill-available;
}

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin border-radius($value) {
	border-radius: $value;
	-webkit-border-radius: $value;
	-moz-border-radius: $value;
	-khtml-border-radius: $value;
}