input,
textarea {
	outline: none;
	border: none;
}

button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

ul,
li {
	margin: 0px;
	list-style-type: none;
}

a:focus {
	outline: none !important;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar {
	width: 0.4rem;
	height: 0.4rem;
}

::-webkit-scrollbar-thumb {
	background-clip: padding-box;
	border-radius: 8rem;
	background-color: var(--color-disabled);
}
