:root {
	--color-bg: #dfdfdf;
	--color-primary: #00567e;
	--color-secondary: #cfcfcf;
	--color-primary-text: white;
	--color-secondary-text: black;
	--color-disabled: gray;
	--color-primary-cell: #cfcfcf;
	--color-secondary-cell: #b9b9b9;
}
