:root {
	--color-bg: #242424;
	--color-1: #4a752c;
	--color-2: #cfcfcf;
	--color-text-1: white;
	--color-text-2: black;
	--color-disabled: gray;
	--color-cell-cover-1: #aad751;
	--color-cell-cover-2: #a2d149;
	--color-cell-uncover-1: #e5c29f;
	--color-cell-uncover-2: #d7b899;
	--color-cell-hover: #ffffffb7;
}
